.container{
    border: 2px solid rgb(235, 0, 0);
    border-radius: 1rem ;
    background-color: rgb(226, 226, 226);
    padding: 2rem;
    background-color: black;
}
.Card{
    background-color: rgb(217, 223, 223);
    border-radius: 1rem;
    border: 1px solid black;
}